.carouselContainer {
  padding: 5vw 0;
}

.carouselDetail {
  border-radius: 20px;
  width: 80vw;
  margin: auto;
  background-color: #000000;
}

.videoContainer {
  width: 100%;
  height: 40vw;
  min-height: 200px;
  margin-bottom: 20px;
  display: grid;
  place-items: center;
}

.carouselVideos {
  width: 85%;
  height: 35vw;
  padding: auto;
}

.carousel-control-next {
  width: 8%;
  height: 50px;
  margin: auto;
}

.carousel-control-prev {
  width: 8%;
  height: 50%;
  margin: auto;
}
