.kartuMovie {
  width: 250px;
  text-align: center;
  margin: 40px 0 0 1vw;
  box-shadow: 0px 0px 6px #03dbf3;
}

.imageMovie {
  width: 100%;
  height: 350px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.OverFlowHandler {
  justify-self: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.movieTitle {
  margin: 5px 10px;
  padding: 0 0;
  font-family: "Orbitron";
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
}

.isiKartu {
  padding-bottom: 10px;
  box-shadow: inset 0 0 0 1000px rgba(60, 60, 60, 0.6);
}

.DetailButton {
  background-color: #ffffff;
  color: #000000;
  font-family: "Orbitron";
  font-weight: bold;
  font-size: 15px;
  width: 130px;
  height: 40px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.DetailButton:hover {
  background-color: #03dbf3;
  color: #ffffff;
  border-color: #03dbf3;
  box-shadow: 0px 3px 6px #03dbf3;
}

@media (max-width: 1000px) {
  .kartuMovie {
    max-width: 200px;
    width: 40vw;
  }

  .imageMovie {
    height: 30vh;
  }
}

@media (max-width: 750px) {
  .movieTitle {
    font-size: 12px;
  }
  .imageMovie {
    max-height: 200px;
    height: 30vh;
  }
}
