.TitleStyle {
  font-size: 30px;
  font-weight: bold;
  font-family: "Orbitron";
  text-shadow: 2px 2px #ffffff;
  margin: 40px 0;
}

@media (max-width: 1000px) {
  .TitleStyle {
    font-size: 20px;
    margin: 25px 0;
  }
}

@media (max-width: 700px) {
  .TitleStyle {
    text-align: center;
  }
}
