@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins&family=Roboto:wght@300;400;500;700;900&display=swap");

main {
  margin-top: 90px;
  margin-bottom: 0px;
  min-height: 100vh;
  background-image: url("../../images/layOutBackground.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 50%;
  background-position: 100% 100%;
  background-color: #fcee03;
  /* box-shadow: inset 0 0 0 1000px rgba(60, 60, 60, 0.7); */
}
