.SliderContainer {
  margin: 0 auto;
  color: #ffff;
  background-color: black;
  /* text-align: center; */
  border-radius: 20px;
  font-family: "Orbitron";
  font-size: 14px;
}

.SliderImage {
  margin: auto;
  width: auto;
  height: 60vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.Slider {
  padding: 10px 10px;
}

.SliderCaption {
  padding-left: 10px;
  padding-bottom: 20px;
  text-align: center;
  height: 120px;
}

@media (max-width: 1000px) {
  .SliderImage {
    height: 40vh;
  }
}

@media (max-width: 700px) {
  .SliderContainer {
    border-radius: 0;
    font-size: 10px;
  }

  /* .SliderImage {
    height: 400px;
  } */

  .Slider {
    padding: 0 0;
    border-radius: 0 !important;
    /* height: 50vh; */
  }
}
